.vjs-picture-in-picture-control,
.vjs-progress-control,
.vjs-playback-rate,
.vjs-current-time,
.big-play-toggle {
  display: none !important;
}

.vjs-playback-rate.vjs-menu-button-popup.vjs-button {
  display: none !important;
}

.unmute-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #58CCED;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out, transform 150ms ease;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 50vw;
  top: 25vw;
  z-index: 1;
  width: 200px;
  margin-left: -100px;
}
